.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    color: white;
    width: 60%;
    background-color: rgba(106, 7, 99, 0.2); /* Semi-transparent white background */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
    border-radius: 10px; /* Rounded corners */
    position: relative;
    margin-left: 20%;
  }
  
  .copyright {
    font-size: 0.9rem;
    color: #f1f1f1;
  }
  
  .icons {
    display: flex;
    gap: 15px; /* Space between icons */
  }
  
  .icon-link {
    color: #f1f1f1;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .icon-link:hover {
    color: #4b054a; /* Change color on hover */
  }
  